services:
  db:
    # Using the latest stable release of MariaDB
    image: mariadb:11.1.2
    
    container_name: eventhub_db
    restart: unless-stopped
    
    # MariaDB specific environment variables
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: eventhub_db
      MARIADB_USER: dev_user
      MARIADB_PASSWORD: dev_password
    
    ports:
      - "3308:3308"
    
    volumes:
      # Persistence
      - db_data:/var/lib/mysql
      
      # Auto-init: Any .sql file in ./sql will run on first startup
      - ./sql:/docker-entrypoint-initdb.d

volumes:
  db_data:
